.container-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(216, 216, 216, 0.322);
}

.container-user form {
    width: 40%;
    max-width: 100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.logo-user {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 28px;
}

.logo-user img{
    height: 60px;
}

.container-message{
    position: fixed;
    top: 10px;
    right: 10px;
}

.type-success {
    background-color: rgba(43, 255, 0, 0.836);
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.type-danger {
    background-color: rgba(250, 35, 35, 0.671);
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.type-success span {
    text-align: center;
    color: #fff;
}

.type-danger span {
    text-align: center;
    color: #fff;
}

.logo img {
    height: 40px;
}

.dropdown-menu-container{
    position: absolute;
    right: 91px
}

.container-footer{
    position: fixed !important;
    bottom: 0;
    width: 100%;
    background-color: #F8F9FA;
    padding: 10px;
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.336);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-sidebar a:hover {
    color: rgba(0, 0, 0, 0.774);
}

.container-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin-top: 20px;
    background-color: #F8F9FA;
    padding: 30px;
    border-radius: 10px;
    overflow: auto;
    transition: box-shadow 0.5s;
    margin-bottom: 60px;
}

.container:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.041);
}
@media(max-width: 786px) {
    .container-user form {
        width: 90%;
    }
}

.logo img{
    height: 40px;
}

.container-search{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
}

.container-search button {
    border: none;
}